<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kang.swimming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_swimming"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_swimming"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.user.PrivacyActivity"></activity>
        <activity android:name=".ui.user.WithDrawActivity" />
        <activity
            android:name=".ui.profile.AlarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.board.BoardInfoMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.map.BoardMapSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.map.BoardMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.user.ChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.board.MyBoardActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.board.BoardSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.board.BoardInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.board.BoardWriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.board.BoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".etc.utils.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.FindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ResisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".etc.utils.UtilFCM"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-x0hbrLoMnWp607rYLIMzuKQP7QL0PKs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>